# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
Records/

# IDEs / editors
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.unityproj
*.booproj

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Misc
sysinfo.txt
